@use './abstracts/elements' as c;
@use './abstracts/fonts' as f;

body {
    @extend %background-gradient;
    color: white;
}

.navbar {
    i{
        font-size: f.$big;
    }
    span{
        font-size: f.$bigger;
        font-weight: 700;
    }
}

input, select {
    @extend %input;
}

label {
    font-size: f.$default;
}

.button {
    @extend %button;
}

.buttonDisabled {
    background-color: #8893a3;
    background-image: linear-gradient(315deg, #929eaf 0%, #d5d6d8 74%);
    cursor: not-allowed;
}

.errorAlert {
    position: absolute;
    left: 0;
    top: 8%;
    height: auto;
    padding: .1rem 1rem;


    p{
        margin-top: .7rem;
        line-height: 15px;
        font-weight: 500;
        font-size: f.$small;
    }
}
