@use './abstracts/elements' as c;
@use './abstracts/fonts' as f;

body {
    @extend %background-gradient;
    color: white;
}

.navbar {
    i{
        font-size: f.$big;
    }
    span{
        font-size: f.$bigger;
        font-weight: 700;
    }
}

input, select {
    @extend %input;
}

label {
    font-size: f.$default;
}

.button {
    @extend %button;
}

.errorAlert {
    position: absolute;
    left: 0;
    top: 8%;
    height: 90px;
    padding: .5rem 1rem;

    p{
        line-height: 13px;
        font-weight: 500;
        font-size: f.$small;
    }
}
