@use './fonts' as f;
@use './colors' as c;

/*******BACKGROUND*******/
%background-gradient{
    background: #84ceeb;
    background: radial-gradient(circle, #84ceeb 0%, #c1c8e4 100%);
};

/*******INPUTS*******/
%input {
    border: 1px solid #e0e0e0d5;
    border-radius: 3px;
    width: 100%;
    height: 37px;
    color: #ccccccd5;
}

/*******BUTTONS*******/
%button {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: .5rem;
    color: white;
    background: rgb(90,185,234);
    background: linear-gradient(233deg, rgba(90,185,234,1) 0%, rgba(136,96,208,1) 93%);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: f.$small;
    }